*{
padding: 0;
margin: 0;
}
body{
width:100%;
margin:0px auto;

font-family: "Arial", Georgia, Serif;
font-size: 15px;

background-color:lightgrey;;
}

header {
width:100%;
text-align: center;
height:45px;
background: #000000;
vertical-align:middle;
color: #ffff99;
padding: 10px 0px 0px 0px;
position: fixed;
z-index: 10;
}


nav {
overflow: hidden;
background: #ffccff;
margin-top: 0.5%;
margin-bottom: 0.5%;
text-align:center;
display: inline-block;
font-family: "Arial", Georgia, Serif;
font-size: 20px;
font-weight: bold;


}
.menuCSS3 {
width:100%;
margin-top: 50px;

background-color: #ffffff;


}
.menuCSS3 ul {
display: flex;
padding: 0;
margin: 0;
list-style: none;
text-align: center;
justify-content: center;
}

.menuCSS3 a {
display: block;
padding: 1em;
background-color: #ffcccc;
text-decoration: none;
color: #000000;
text-align: center;


}
.menuCSS3 a:hover {
background-color: #000000;
text-transform: uppercase;

}
.menuCSS3 ul li ul{
display: none;
float: left;


}
.menuCSS3 ul li a:hover + ul, .menuCSS3 ul li ul:hover {
display: block;
position:absolute;
text-align:center;


}
.slider {
margin-top: 40px;
width: 80%;
margin-left: 10%;
overflow: hidden;


}
.slider ul {
display: flex;
padding: 0;
width: 800%;

animation: cambio 10s infinite alternate linear;
}

.slider li {
width: 100%;
list-style: none;
}
.slider img {
width: 100%;
}


@keyframes cambio {
0% {margin-left: 0;}
20% {margin-left: 0;}

25% {margin-left: -100%;}
45% {margin-left:-100%;}

50% {margin-left: -200%;}
60% {margin-left: -200%;}

70% {margin-left: -300% ;}
75% {margin-left: -300%;}

80% {margin-left: -400%;}
85% {margin-left: -400%;}

95% {margin-left: -500% ;}
100% {margin-left: -500%;}




}
img { width:700px; height: 500px; }

footer {
position: fixed;
width: 100%;
right: 0;
bottom: 0;
left: 0;
padding: 10px 0px 10px 0px;
background-color: #ffccff;
text-align: center;
}